{# file: /roles/hdfs/templates/core-site.xml.j2 #}
{# Jinja2 template to render a hdfs core-site.xml configuration file #}
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!--  Put site-specific property overrides in this file. -->

<configuration>
	<property>
		<name>fs.default.name</name>
		<value>hdfs://{{ hostvars[groups['cluster'][0]]['ansible_eth0']['ipv4']['address'] }}:9000/</value> 
		<description>The name of the default file system. A URI whose scheme and authority determine the FileSystem implementation.</description>
	</property>
	<property>
  		<name>hadoop.tmp.dir</name>
  		<value>{{ dfs_tmp_dir }}</value>
	</property>
</configuration>
